<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRFoodOrder"
        tools:targetApi="31">

        <!-- Splash là activity đầu tiên -->
        <activity
            android:name=".ui.base.SplashActivity"
            android:theme="@style/Theme.QRFoodOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding -->
        <activity android:name=".ui.base.OnboardingActivity" />

        <!-- Các activity khác -->
        <activity android:name=".ui.base.MainActivity" android:exported="true" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.base.ProfileActivity" />
        <activity android:name=".ui.staff.OrderListActivity" android:exported="false" />
        <activity android:name=".ui.staff.StaffMainActivity" />
        <activity android:name=".ui.manager.ManagerMainActivity" />
        <activity android:name=".ui.customer.CustomerMainActivity" />
        <activity android:name=".ui.customer.ScanQRActivity" android:exported="false" />
        <activity android:name=".ui.customer.ViewOrderActivity" />
        <activity android:name=".ui.customer.OrderDetailActivity" />
        <activity android:name=".ui.customer.DetailMenuItem_Cus_Activity" />
        <activity android:name=".ui.customer.ViewOrderItemDetailActivity" />
        <activity android:name=".ui.base.PaymentGate"/>
        <activity android:name=".ui.customer.QrTableStatusActivity" android:exported="false" />
    </application>
</manifest>
